<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
</head>

<body>
    <h5>{{uid}}</h5>
    <h5>sn={{sn}}</h5>
    <h5>cn={{cn}}</h5>
    <h5>userPassword={{userPassword}}</h5>
    <h5>{{flag}}</h5>
</body>

</html>